* {
    font-family: 'Open Sans', sans-serif;
}
.flex{
    display: flex;
}
.block{
    display: block;
}
body{
    margin: 0;
    padding: 0;
}
nav{
    height: max-content;
    background-color: rgb(49, 137, 232);
    color: white;
    display: flex;
    padding-inline: 2em;
    align-items: center;
}
nav .uil{
    font-size: 3em;
}
.texto-logo{
    margin: 0;
    padding: 1em;
}
nav form{
    margin-left: auto;
}
nav form input{
    background-color: red;
    padding: 0.5em;
    color: white;
    font-weight: bold;
    border: 0;
    border-radius: 0.5em;
}
.section-login{
    width: 40%;
    margin: auto;
    margin-top: 4em;
}
.section-login input[type=text], .section-login input[type=password]{
    height: 2em;
    border: none;
    border-radius: 0.5em;
    padding-left: 1em;
    width: 80%;
    display: flex;
    margin: auto;
    height: 2em;
}
.section-login input[type=submit]{
    display: flex;
    margin: auto;
}
.section-login label{
    margin-left: 10%;
    margin-top: 1em;
}
.login-form{
    padding: 1em;
    background-color:  rgb(224, 224, 224);
    border-radius: 0.5em;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.371);
}
.lista, .add{
    width: 80%;
    max-width: 40em;
    margin-inline: auto;
    margin-top: 2em;
    background-color:  rgb(224, 224, 224);
    border-radius: 0.5em;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.371);
    padding: 1em;
}
.item{
    background-color: rgb(224, 224, 224);
    padding: 0.5em;
    padding-inline: 1em;
}
.item h2{
    margin: 0;
}
.item small{
    margin-bottom: 2em;
} 
 
.checked{
    color: grey;
    text-decoration-line: line-through;
}
span{
    width: 2em;
    height: 2em;
    text-align: center;
    border-radius: 1em;
    background-color: grey;
    transition: 0.5s;
    margin: auto;
    margin-right: 0;
}
span:hover{
    background-color: red;
    color: white;
}
.div-span{
    width: 100%;
}
.text-input{
    height: 2em;
    border: none;
    width:30em;
    border-radius: 0.5em;
    padding-left: 1em;
    width: 80%;
}
.btn-submit{
    padding: 0.5em;
    padding-inline: 1em;
    border: none;
    border-radius: 0.5em;
    color: white;
    background-color: grey;
    transition: 0.5s;
    margin-left: auto;
}

.btn-submit:hover{
    background: rgb(73, 213, 73);

}

/* ICONES */

.uil-times::before{
    font-size: 2em;
}